<ion-header >
  <ion-toolbar color="dark centrado">
      <ion-title class="">Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="color1" >    
  <img src="../../assets/img/white-car-vector.png" alt="" class=" left" width="300px" >

  <ion-card class="color1">
    <ion-card-content >
      <ion-item color="dark">
        <ion-label position="floating" >Correo:</ion-label>
        <ion-input type="text" #txtEmail></ion-input>
      </ion-item>
      <ion-item color="dark">
        <ion-label position="floating">Contraseña:</ion-label>
          <ion-input type="password"  #txtPass></ion-input>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col class="centrado">
            <a (click)="signInWithGoogle()" style="text-decoration: none;cursor: pointer;">
              <img src="../../assets/img/iconogoogle.png" alt="" width="40px"> 
            </a>
            <a (click)="GitHubLogin()" style="text-decoration: none;cursor: pointer;">
              <img src="../../assets/img/github.png" alt="" width="40px"> 
            </a>
            <ion-button expand="full" (click)  ="login(txtEmail,txtPass)" color="dark">Iniciar Sesion</ion-button>
            <ion-button expand="full" (click)="agregar()" color="dark">registrar</ion-button>
            <ion-button expand="full" [routerLink]="['/mapa']" color="dark">recuperar</ion-button>
          </ion-col>
        </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>


</ion-content>