<ion-header >
  <ion-toolbar color="dark">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>
<div class="mapa" #divMap></div>
<ion-content [style.visibility]="content_visibility"  >

  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <div>
        <ion-toolbar color="primary"> 
        </ion-toolbar>
      </div>
    </ion-header>
    <ion-content>
      <ion-list >
        <ion-item  [routerLink]="['/perfil-pasajero']" color="light"><ion-icon name="person-circle-outline"></ion-icon>perfil</ion-item>
        <ion-item color="light"><ion-icon name="albums-outline" ></ion-icon>Historial Viajes</ion-item>
        <ion-item color="light"><ion-icon name="settings-outline"></ion-icon> Metodos de pago</ion-item>
        <ion-item color="light"><ion-icon name="settings-outline"></ion-icon>Configuracion</ion-item>
        <ion-item color="light" (click)="cerrarsesion()"><ion-icon name="log-out-outline"></ion-icon> Cerrar Sesión</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
<ion-card class="ion-text-center" color="dark">
  <div>
    <div class="mapa" #divMap></div>
  </div>
    <ion-card-content>
      <ion-card-title>
        Unete al viaje : 
      </ion-card-title>
      <qrcode 
        [qrdata]="qrCodeString" 
        [width]="150" 
        [errorCorrectionLevel]="'M'">
      </qrcode>
    </ion-card-content>
        <ion-button (click)="agregarPasajero()">Guardar pasajero</ion-button>
        <ion-button (click)="mapRuta()">Mostrar Mapa</ion-button>
        <ion-button (click)="startScan()"  color="danger">Scanea para Unirte </ion-button>
</ion-card>
    <ion-list *ngFor="let aux of viaje"  >
      <ion-item class="color1" *ngIf="aux.uid === id" color="dark">
          <ion-label >
            <ion-text>
              <h5 color="light">Nombre : {{ aux.conductor }}</h5>
              <h5>Destino : {{ aux.direccion }} </h5>
              <h5>Estado del viaje:{{ aux.estado }} </h5>
              <h5>Precio : ${{ aux.precio }}</h5>
            </ion-text>
          </ion-label>
      </ion-item>
    </ion-list>
        <ion-card-title> Pasajeros :</ion-card-title>
        <ion-list *ngFor="let aux2 of viaje_pasajero" >
        <ion-item   *ngIf="aux2.id_viaje === id" color="dark">
        <ion-label>
          <ion-text >
            <h2>{{ aux2.nombre }}</h2>
            <h5>Destino : {{ aux2.inicio_viaje }} </h5>
            <h2></h2>
            </ion-text>
        </ion-label>
        </ion-item>
        </ion-list>

</ion-content>
