<ion-header>
  <ion-toolbar>
    <ion-title>Registro Usuario </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">email:</ion-label>
        <ion-input #txtEmail></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">contraseña:</ion-label>
        <ion-input #txtPass></ion-input>
      </ion-item>
        <ion-input #txtNombre></ion-input>
      </ion-item>
      <ion-button (click)="registrar(txtEmail, txtPass, txtTipo,txtNombre)">Registrarse</ion-button>

    </ion-card-content>

    <p></p>
  </ion-card>
</ion-content>
