<ion-header >
  <ion-toolbar color="dark">

  </ion-toolbar>
</ion-header>
<ion-content class="color1" >
  <ion-card>
    <img src="../../../assets/img/gps.gif" />

  </ion-card>
  <ion-card class="color1">
  <ion-list>
    <ion-list-header> Online </ion-list-header>

    <ion-item  [routerLink]="['/ubicacion-ychoferelegido']" color="dark">
      <ion-avatar slot="start">
        <img src="https://get.pxhere.com/photo/hand-man-person-hair-boy-photo-male-guy-portrait-young-student-lip-hairstyle-shirt-eyebrow-mouth-face-nose-eyes-free-cheek-eye-head-skin-moustache-organ-the-student-a-person-forehead-jaw-id-chin-id-card-the-id-card-795495.jpg" />
      </ion-avatar>
      <ion-label>
        <ion-text color="">
          <h2>Juan  Gutierrez</h2>
          </ion-text>
        <h3>Dejar en :</h3>
        <p>Los lirios #3992</p>
        <ion-text color="success">
          <h4></h4>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item class="full" color="dark">
      <ion-avatar slot="start">
      <img src="https://wl-genial.cf.tsp.li/resize/728x/jpg/f6e/ef6/b5b68253409b796f61f6ecd1f1.jpg" />
      </ion-avatar>
      <ion-label>
        <ion-text color="">
        <h2>Juan Perez </h2>
        </ion-text>
        <h3>Dejar en :</h3>
        <p>vicuña mackena #2001</p>
        <ion-text color="success">
          <h4></h4>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-card>
</ion-content>
