<ion-header >
  <ion-toolbar color="dark centrado">
      <ion-title class=""></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="color1" >    
  <ion-title color="light" class="centrado left2">{{ "Tipo de usuario" | translate }} </ion-title>

  <img src="../../assets/img/white-car-vector.png" alt="" class="left" width="300px" >

  <ion-card class="color1">
    
    <ion-card-content >
      <ion-item color="dark">
        <ion-button expand="full" [routerLink]="['/mapa']" color="dark">{{ "Conductor" | translate }}</ion-button>
      </ion-item>
      <ion-item color="dark">
        <ion-button expand="full"[routerLink]="['/home-pasajero']" color="dark">{{ "Pasajero" | translate }}</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>


</ion-content>



    